.main-section .search-iphone-models input {
    width: 80%;
    font-size: 1rem;
    padding: 7px;
    margin: auto;
    /* margin-top: -130px; */
    /* margin-bottom: -40px; */
}
.search-iphone-models {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#iphone-search-box {
    padding: 7px;
    margin: auto auto;
    margin-top: 10px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#iphone-search-box button {
    padding: 7px 10px;
    margin: auto auto;
    background-image: linear-gradient(to right, rgb(202, 176, 176) , rgb(190, 190, 13));
    border: none;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.error-msg {
    /* border: 1px solid blue; */
    color: red;
    font-weight: 600;
    text-align: center;  
    width: 100%
}