/* --------------- GENERAL CSS STYLES STARTS ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.max-container-size {
    max-width: 1600px;
    /* display: flex; */
    margin: auto auto;
}

/* styling for marquee */
.marque {
    font-size: 1.2rem;
    height: 50px;
    background-color: #008081;
    color: white;
}

/* stylling for navigation links */
.navigation-links {
    background-color: #242020;
    color: white;
    justify-content: space-between;
    padding: 5px;
}

.nav-left-part ul li {
    font-size: 1.1rem;
    padding: 5px;
    border-right: 1px solid gray;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-left-part ul li:first-child {
    background-color: whitesmoke;
    color: #222;
    font-size: 1.9rem;
}
.nav-left-part ul li:last-child {
    border: none;
}

.nav-right-part p {
    font-size: 0.8rem;
    padding-right: 30px;
}
.nav-right-part .cart-box {
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}



/* header portion Styling starts here */
.header {
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 2px;
}
.header ul li {
    font-size: 0.9rem;
    padding: 15px;
    color: #777;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}
.header-right-part {
    margin-right: 10px;
}
.header-right-part input {
    padding: 7px;
    font-size: 1rem;
}
.header-right-part i{
    padding: 10px;
    border: 1px solid gray;
    background-color: #242020;
    color: white;
}
.mobile-header {
    display: none;
}


/* CSS STYLING FOR BANNER */
.banner img {
    width: 100%;
}


/* CSS FOR MAIN SECTION */
.main-section {
    padding: 90px;
}
/* CSS STYLING FOR HARD-CASE & SILICON CASE TABS */
.hard-silicon-case-tabs {
    justify-content: space-between;
}
.hard-silicon-case-tabs .hard-case, .hard-silicon-case-tabs .silicon-case{
    /* border: 2px solid red; */
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
    color: silver;
    box-shadow: 0 0 5px;
    border-radius: 70px;
}
.hard-silicon-case-tabs .hard-case {
    background-color: #008081;
}

/* CSS STYLING FOR HARD CASE CONTENT */
.hard-case-content {
    margin: 20px auto;
    /* border: 1px solid red; */
}
.hard-case-content p:first-child {
    text-align: center;
    color: rgb(216, 40, 40);
    font-size: 1.7rem;
    padding: 5px;
}
.hard-case-content h1 {
    text-align: center;
    padding: 20px;
}
.hard-case-content p:last-child {
    text-align: center;
    color: #222;
    padding: 5px;
}
.hard-case-content a {
    text-decoration-line: none;
}

.hard-case-content .mobiles-list button {
    background-color: #008081;
    border: none;
    color: white;
    width: 24%;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.hard-case-content .mobiles-list  {
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}



/* css styling for footer */
.top-footer {
    padding: 70px 15px;
    display: grid;
    grid-template-columns: 22.5% 50% 27.5%;
    background-color: #008081;
    color: white;
}

/* css for top-footer left part */
.top-footer .left pre {
    margin-bottom: 10px;
}


/* css for top-footer right part */
.top-footer .right .icons i {
    margin: 20px auto;
    font-size: 2rem;
    color: pink;
    margin-right: 20px;
}
.top-footer .right .newsletter h3 {
    margin: 10px auto;
}
.top-footer .right .newsletter p {
    margin: 5px auto;
    line-height: 1.5;
}
.top-footer .right .newsletter input, .top-footer .right .newsletter button {
    width: 100%;
    padding: 7px;
    color: white;
    height: 50px;
}
.top-footer .right .newsletter input {
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.top-footer .right .newsletter button {
    font-size: 1.5rem;
    background-color: black;
    cursor: pointer;
}

/* css for top-footer middle part */
.top-footer .middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.top-footer .middle .iphone-cases p, .top-footer .middle .android-cases p, .top-footer .middle .customer-services p {
    margin-top: 20px;
}


/* CSS STYLING FOR BOTTOM FOOTER  */
.bottom-footer {
    background-color: #232323;
    height: 90px;
}
.bottom-footer p{
   color: white;
   padding-left: 15px;
   padding-top: 25px;
   font-size: 1.1rem;
}







/* CSS FOR RESPONSIVE WEB DESIGN FOR TAB VIEW */
.tab-container-size {
    max-width: 940px;
    margin: auto auto;
}
.mobile-header {
    justify-content: space-between;
    padding: 0px 15px;
    box-shadow: 0 0 3px;
}
.mobile-header .left-side span:first-child {
    margin-right: 15px;
    cursor: pointer;
}
.mobile-header .left-side i {
    font-size: 1.5rem;
}

@media only screen and (max-width: 940px) {
    .header, .nav-right-part {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
    .hard-case-content .mobiles-list button {
        width: 46%;
    }
    .top-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px;
        text-align: center;
    }
    .top-footer .middle {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

/* CSS FOR RESPONSIVE WEB DESIGN FOR MOBILE VIEW */
@media only screen and (max-width: 640px) {
    .hard-case-content .mobiles-list  {
        display: flex;
        justify-content: center;
    }
    .hard-case-content .mobiles-list button {
        width: 100%;
        text-align: center;
    }
    .nav-left-part ul li {
        font-size: 0.7rem;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-left-part ul li:first-child {
        background-color: whitesmoke;
        color: #222;
        font-size: 1.1rem;
    }
    .hard-silicon-case-tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hard-silicon-case-tabs .hard-case, .hard-silicon-case-tabs .silicon-case {
        width: 100%; 
        margin: 5px;
    }
    .main-section {
        padding: 15px;
    }
    .bottom-footer {
        background-color: #232323;
        height: 70px;
    }
    .bottom-footer p {
        text-align: center;
        font-size: 0.9rem;
    }
    .top-footer .middle {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 30px;
    }
    .top-footer .middle p {
        margin-bottom: -10px;
    }
    #home {
        margin-right: 15px;
    }
    .top-footer .middle div {
        margin-bottom: 30px;
    }
}
